/* COMMON */
/* Buttons, selected items etc */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #76c38f; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #660000; }

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 5px solid #76c38f;
  max-height: 30%; }
  header .menu {
    max-width: 90%;
    margin: auto;
    padding: 50px 20px;
    text-align: center; }
    header .menu .logo {
      display: inline-block;
      width: 185px;
      height: 35px;
      margin-right: 160px;
      background: url("../img/logo.png") no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
      vertical-align: middle; }
    header .menu ul {
      display: inline-block;
      padding: 0;
      margin: 0 auto;
      list-style: none; }
      header .menu ul li {
        display: inline-block;
        margin-right: 10px; }
        header .menu ul li a {
          position: relative;
          padding: 10px 20px;
          color: #fff;
          text-transform: uppercase; }
          header .menu ul li a.active {
            border-radius: 10px;
            background: #76c38f; }
          header .menu ul li a:not(.active):before, header .menu ul li a:not(.active):after {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 3px;
            background: #fff;
            transition: all .4s ease-in-out; }
          header .menu ul li a:not(.active):before {
            top: 0;
            right: 0; }
          header .menu ul li a:not(.active):after {
            left: 0;
            bottom: 0; }
          header .menu ul li a:not(.active):hover, header .menu ul li a:not(.active):hover {
            color: #76c38f; }
            header .menu ul li a:not(.active):hover:before, header .menu ul li a:not(.active):hover:after, header .menu ul li a:not(.active):hover:before, header .menu ul li a:not(.active):hover:after {
              width: 80%; }

/* SLIDER */
.slider {
  display: block;
  padding-top: 150px;
  height: 100vh;
  background: #290000;
  box-sizing: border-box;
  color: #fff;
  text-align: center; }
  .slider .slider-box {
    position: relative;
    max-width: 80%;
    height: 400px;
    box-sizing: content-box;
    margin: auto; }
    .slider .slider-box:before, .slider .slider-box:after {
      content: '';
      width: 15px;
      height: 30px;
      position: absolute;
      top: calc(50% - 15px);
      background: url("../img/less-more-icons.png") no-repeat left;
      -webkit-background-size: cover;
      background-size: cover;
      cursor: pointer; }
    .slider .slider-box:before {
      left: 0; }
    .slider .slider-box:after {
      background-position: right;
      right: 0; }
    .slider .slider-box .slider--photo {
      vertical-align: middle;
      display: inline-block;
      width: 400px;
      height: 400px;
      background: #333;
      border: 25px solid #6b6b6b;
      border-radius: 50%;
      background: url("https://static1.squarespace.com/static/5446908be4b0e284a8fb3b30/5633efece4b0b8a4b6edae3e/58334cda6a4963cd4fbd4cdb/1479757140683/cover2web.jpg?format=750w") no-repeat top;
      -webkit-background-size: cover;
      background-size: cover; }
    .slider .slider-box .slider-wrapper {
      vertical-align: middle;
      display: inline-block;
      max-width: 30%;
      margin-right: 150px;
      text-align: left; }
      .slider .slider-box .slider-wrapper .slider--title, .slider .slider-box .slider-wrapper .slider--description, .slider .slider-box .slider-wrapper .readmore-button {
        display: inline-block;
        margin-bottom: 20px; }
      .slider .slider-box .slider-wrapper .slider--title {
        font-size: 46px; }
      .slider .slider-box .slider-wrapper .slider--description {
        font-size: 12px;
        color: #979797; }
      .slider .slider-box .slider-wrapper .readmore-button {
        padding: 10px 20px;
        margin-bottom: 0;
        border: none;
        border-radius: 10px;
        background: #76c38f;
        color: #fff;
        transition: all .3s ease-in-out; }
        .slider .slider-box .slider-wrapper .readmore-button:hover {
          cursor: pointer;
          background: #fff;
          color: #76c38f; }
        .slider .slider-box .slider-wrapper .readmore-button:active {
          outline: none; }

/* SERVICES BLOCK */
.services {
  max-width: 80%;
  margin: 60px auto 40px;
  color: #333;
  text-align: center; }
  .services .service {
    margin: auto;
    margin-right: 20px;
    padding: 20px 40px;
    display: inline-block;
    width: 230px;
    max-height: 330px;
    background: #fff;
    transition: all .3s; }
    .services .service:hover {
      cursor: pointer;
      background: #76c38f;
      color: #fff; }
      .services .service:hover .service--img {
        background: #fff; }
      .services .service:hover .service--description {
        color: #fff; }
    .services .service .service--img {
      margin: auto;
      width: 120px;
      height: 120px;
      background: #333;
      vertical-align: middle; }
      .services .service .service--img img {
        width: 120px;
        height: 120px;
        object-fit: cover; }
    .services .service .service--title {
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 32px; }
    .services .service .service--description {
      font-size: 12px;
      color: #979797; }

/* LATEST WORK BLOCK */
.latest-work {
  margin: auto;
  max-width: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }
  .latest-work h1 {
    position: relative;
    margin: auto;
    font-size: 32px; }
    .latest-work h1 span {
      display: inline-block;
      padding: 10px;
      background: #303030;
      border-radius: 10px; }
    .latest-work h1:before {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 2.5px);
      width: 100%;
      height: 5px;
      background: #303030;
      z-index: -1; }
  .latest-work .work {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    width: 300px;
    height: 200px;
    border: 5px solid #fff;
    background: #353535;
    transition: all .4s ease; }
    .latest-work .work:hover {
      border: 5px solid #76c38f;
      cursor: pointer; }
      .latest-work .work:hover span {
        display: none; }
      .latest-work .work:hover img {
        filter: saturate(2); }
    .latest-work .work:nth-child(3n) {
      margin-right: 0; }
    .latest-work .work span {
      display: inline-block;
      padding: 5px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #151515;
      font-size: 14px; }
    .latest-work .work img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s; }

/*# sourceMappingURL=main.css.map */
